.future {
	position: relative;
	background-image: url('../images/illustration-editor-desktop.svg');
	background-repeat: no-repeat;
	background-size: auto 35rem;
	background-position: right -9rem top calc(50%);

	@media screen and (max-width: 960px) {
		background-position: right -13rem top calc(50%);
	}

	@media screen and (max-width: 768px) {
		padding: 5rem $inline-padding 10rem $inline-padding !important;
	}
}
